#courseHome-outline {
    border-left: 1px solid #045B5E4D !important;
    border-right: 1px solid #045B5E4D !important;
}

#courseHome-outline .pgn_collapsible .pgn_collapsible {
    border-left: none !important;
    border-left: none !important;
    border: 1px solid #045B5E4D !important;
    border-radius: 0 !important;
    margin-bottom: 0px !important;
    background: #1837490F !important;
}